body, html{
    height: 100%;
    margin: 0%;
    font-size: 1rem;
    font-family: 'lato', sans-serif;
    font-weight: 400;
    line-height: 1.8rem;
    color: #6666;
}

/* PARALLX IMAGE STYLING */

div.pimg1,
div.pimg2,
div.pimg3{
    color: #000000;

}

div.pimg1{
    background: url('../img/');
}

div.pimg2{
    background: url();
}

div.pimg3{
    background: url();
}