body, html{
    height: 100%;
    margin: 0%;
    font-size: 1rem;
    font-family: 'lato', sans-serif;
    font-weight: 400;
    line-height: 1.8rem;
    color: #6666;
}

/* PARALLX IMAGE STYLING */

body > div.pimg1,
body > div.pimg2,
body > div.pimg3{
    color: #000000;
    position: relative;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    /* fixed is a parallax && scroll is normal or default*/
    background-attachment: fixed;
}

div.pimg1{
    background: url('../img/img1.jpeg');
    min-height: 100%;
}

div.pimg2{
    background: url('../img/img2.jpeg');
    min-height: 400px;
}

div.pimg3{
    background: url('../img/img3.jpg');
    min-height: 400px;
}

/* Parallax text */
.caption{
position: absolute;
top: 50%;
width: 100%;
text-align: center;
color: #000000;
font-size: 1.4rem;
letter-spacing: 8px;
text-transform: uppercase;
}

.caption .border{
    background-color: #111;
    color: white;
    padding: 1rem;
}

.caption .border.trans{
    background-color: rgba(0,0,0,0.5);
}

/* section styling*/
.section{
    text-align: center;
    padding: 50px 80px;
}

.section.section-dark{
    background-color: #282e34;
    color: #ddd;
}

.section.section-light{
    background-color: #f4f4f4;
    color: #666;
}